@model IEnumerable<Data_FishingBee.Models.ProductDetail>
@{
	ViewData["Title"] = "PRO131_FishingBee";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

 @if (TempData["SuccessMessage"] != null)
{
	<div id="success-message" class="alert alert-success text-center">
		@TempData["SuccessMessage"]
	</div>

	<script>
		setTimeout(function () {
			var msg = document.getElementById("success-message");
			if (msg) {
				msg.style.display = "none";
			}
		}, 1000);
	</script>
} 
<div class="col-sm-3">
	<partial name="_SidebarPartial" />
</div>

<div class="col-sm-9 padding-right">
	<div class="features_items">
		<!--features_items-->
		<h2 class="title text-center">Features Items</h2>
		@if (Model != null && Model.Any())
		{
			@foreach (var item in Model)
			{
				<div class="col-sm-4">
					<div class="product-image-wrapper">
						<div class="single-product">
							<a asp-action="Index" asp-controller="ProductDetail" asp-route-id="@item.ProductId" >							<div class="productinfo text-center">
									<img src="~/images/anhmoi.jpg" width="100px" height="200px" />
									<h2>@item.Price.</h2>
									<p>@item.Name</p>
								
							</div>
							</a>

						</div>
						@* <div class="choose">
							@if (User.Identity?.IsAuthenticated ?? false)
							{
								<ul class="nav nav-pills nav-justified">
									<li><button class="btn btn-danger add-btn-wishlist" data-product_id="@item.Id">Yêu thích</button></li>
									<li><button class="btn btn-primary add-btn-compare" data-product_id="@item.Id">So sánh</button></li>
								</ul>
							}
						</div> *@
					</div>
				</div>
			}

		}

		else
		{
			<p class="text-center text-danger">Không có sản phẩm nào để hiển thị.</p>
		}

	</div><!--features_items-->
</div>
